
  <table class="highlighted" id="customers">

    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let r of listadoRegistros">
        <td>{{r.codigo}}</td>
        <td>{{r.nombre}}</td>
        <td>
          <a routerLink="/catalogo/listar-categoria/{{r.id}}" routerLinkActive="routerLinkActive" class="waves-effect waves-light btn"><i class="material-icons right">edit</i>Editar</a>
        </td>
        <td>
          <button (click)="(r.id)" class="btn orange waves-effect waves-light" type="button">Eliminar
            <i class="material-icons right">delete</i>
          </button>
        </td>
      </tr>
      <!-- <tr>
        <td>Berglunds snabbköp</td>
        <td>Christina Berglund</td>
        <td>Sweden</td>
      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
      </tr> -->
    </tbody>

  </table>




<pagination-controls (pageChange)="page = $event"></pagination-controls>
<br>
<br>

<a routerLink="/catalogo/crear-categoria" class="waves-effect light-green waves-light  btn"><i
    class="material-icons left">add</i>Nuevo Registro</a>
