<div class="row justify-content-center align-items-center h-10">
  <div class="col-lg-8 ofset-lg-2">

    <div class="card-body p-4 p-md-5">
      <h2 class="titulo">REGISTRO NUEVO USUARIO</h2>
    <br>
    <br>

      <form [formGroup]="fgValidator">


        <div class="col-md-6 mb-2">
            <div class="form-outline">
              <i class="material-icons prefix">email</i>
              <input type="email" id="email" formControlName="email"/>
              <label class="form-label" for="documento">email</label>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-outline">
              <i class="material-icons prefix">person</i>
              <input type="text" id="password" formControlName="password"/>
              <label class="form-label" for="password">password</label>
            </div>
          </div>


        <div class="row">
          <div class="mt-6 pt-2">
            <button (click)="onSubmit()">
              <input class="btn btn-secondary btn-lg" type="button" value="Registrar"/>
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>

</div>

