
<ul id="slide-out" class="sidenav">

  <li>
    <div class="user-view">
      <div class="background">
        <img src="htpps:materializecss.com/images/office.jpg">
      </div>
    </div>

  </li>

  <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
  <li><div class="divider"></div></li>
  <li><a class="waves-effect" routerLink="/catalogo/listar-categoria">Categoria</a></li>
  <li><a class="waves-effect" routerLink="/catalogo/listar-proveedor">Provedor</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

